@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('RobotoRegular'),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('RobotoBold'),
       url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}

/* Global */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2 {
    padding: 0;
    margin: 0;
  }
  
  p {
    padding: 0;
    margin: 0;
  }

  .container {
    max-width: 1134px;
    padding: 0 39px;
  }

  :root {
    --colorBlue: #3F2AFF;
    --colorWhite: #ffffff;
    --colorDark: #2E2B44;
    --colorGrey: #666666;
    --colorLightGrey: #85859B;
  }

  .container {
    max-width: 1178px;
  }

  /* Burger menu */

  .burger {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer; 
  }
  
  .burger__line,
  .burger__line::before,
  .burger__line::after  {
    display: block;  
    width: 30px;
    height: 2px;
    background-color: var(--colorWhite);
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
  }
  
  .burger__line::before {
    content: '';
    position: absolute;
    top: 14px;
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .burger__line::after {
    content: '';
    position: absolute;
    top: 34px;
    -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .burger input {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 42px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);    
  }
  
  .burger-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(13, 18, 60, 0.9);
    -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
            transform: translateX(-101%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  
  .is-active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  
  .burger-menu__item {
    margin-top: 30px;
  }
  
  .burger-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 75px;
    height: 100%;
  }
  
  .burger-menu__link {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: var(--colorWhite);
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
  }
  
  .burger-menu__link:hover {
    color: var(--colorLightGrey);
  }
  
  .burger__input:checked ~ .burger__line::before {
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
        -ms-transform: rotate(45deg) translate(-1px, -1px);
            transform: rotate(45deg) translate(-1px, -1px);
    background-color: var(--colorWhite);
  }
  
  .burger__input:checked ~ .burger__line::after {
    background-color: var(--colorWhite);
    -webkit-transform: rotate(-45deg) translate(0, -1px);
        -ms-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  
  .burger__input:checked ~ .burger__line {
    background-color: rgba(0, 0, 0, 0);
  }

  /* Header */

  .header {
    padding: 30px;  
    background-color: var(--colorBlue);      
  }

  .nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .nav__item:not(:last-child) {
    margin-right: 56px;
  }

  .nav__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;    
  }

  .nav__link {
    color: var(--colorWhite);
  }

  .nav__item::after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--colorWhite);
    transition: width .3s ease;
  }

  .nav__item:hover::after {
    width: 100%;
  }

  
  
  